.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100vw;
    /* height: 95vh; */
    margin:0;
}

.search-wrapper {
    position:relative;
    margin-top: 30vh;
}
.home-search:hover {
    opacity: .9;
}

.feature-tag {
    font-size: 2rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height:10vh;
    text-align: center;
    vertical-align: middle;
}

.home-search {
    width: 60vw;
    max-width: 100vw;
    padding: .3%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
    z-index: 2;
    font-size: 1.3rem;
}

.tagline {
    color: rgba(245, 245, 245, 0.828);
    font-size: 2.5rem;
    width: 90vw;
    max-width: 90vw;
    padding: 10px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .9;
    z-index: 2;
}

.doori-1 {
    color: rgb(253, 209, 12);
}


.search-sliding-background {
    top: 10vh;
    display: flex;
    height: 95vh;
    width: 100vw; 
    margin:0;

    background: url("https://wallpapercave.com/dwp2x/wp7281227.jpg");
    background-color: rgba(200, 151, 18, 0.928);
    background-color:rgba(0, 0, 0, 0.751);
    
    background-blend-mode: multiply;
    background-size: 110%;

    animation: shine 400s linear infinite;
}


@keyframes shine {
    from {
        background-position: center 0;
    }
    to {
        background-position: center 100%;
    }
}
