.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vw;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100vw;
    /* height: 95vh; */
    margin:0;
    
}

.search-wrapper {
    position:relative;
}

.featured-container {
    /* height:40vh; */
}

.feature-tag {
    font-size: 3rem;
    padding-top: 2vh;
    padding-bottom: 10vh;
    height: 6vh;
    text-align: center;
    vertical-align: middle;
}

.home-search-div {
    width: 70vw;
    /* min-height: 15vh; */
    max-width: 100vw;
    /* padding: .3%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    flex-direction: row;
}




.home-search {
    width: 50vw;
    min-height: 5vh;
    opacity: .5;
    bottom: 0;    
    position: relative;
    align-self: center;
}

.home-search-button {
    width: 10vw;
    min-height: 5vh;
    margin-left: 1vw;
    background-color: rgba(200, 151, 18, 0.928);
    opacity: .9;
    position: relative;
    bottom: 1vh ;
}


.home-search-button:hover {
    color: whitesmoke;
    background-color: teal;
}
.home-search:hover {
    opacity: .9;
}
.tagline {
    color: rgba(245, 245, 245, 0.828);
    font-size: 2.5rem;
    width: 90vw;
    padding: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .9;
    z-index: 2;
}

.doori-1 {
    color: rgb(253, 209, 12);
}


.search-sliding-background {
    /* top: 10vh; */
    display: relative;
    height: 90vh;
    width: 100vw; 


    background: url("https://wallpapercave.com/dwp2x/wp7281227.jpg");
    background-color: rgba(200, 151, 18, 0.928);
    background-color:rgba(0, 0, 0, 0.751);
    
    background-blend-mode: multiply;
    background-size: 110%;

    animation: shine 400s linear infinite;
}


@keyframes shine {
    from {
        background-position: center 0;
    }
    to {
        background-position: center 100%;
    }
}

.about-doori {
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 80vh;
    background-color: rgba(200, 151, 18, 0.928);
    background-color:rgba(0, 0, 0, 0.751);
    background-blend-mode: multiply;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 10px;
    opacity: .9;
    padding-left: 10vw;
    padding-right: 10vw;
}
